nav
{
    background-color: #EEEEEE;
    padding: 20px;
    margin-top: 20px;
}
.links
{
	background-color: #EEEEEE;
    padding: 20px;
    margin-top: 20px;
}

header
{
	background-color: #808080;
    height: 150px;
}
footer
{
	background-color: #808080;
    text-align: center;
}
.content
{
    max-width: 960px;
    margin: 0 auto;
	overflow: hidden;
}
.logo
{
    width: 150px;
    height: 150px;
    float: left;
}
#Ad
{
    line-height: 100px;
	font-size: 50px;
    margin-left: 110;
}
nav ul
{
	display: flex;
	flex-direction: column;
	padding: 5px;
	list-style: none;
}
nav ul li a 
{
	text-decoration: none;
}
nav li
{
    margin-right: 40px;
}

#Tab
{
    border-collapse: collapse;
    margin: 40px;
}
#Tab td
{
    padding: 10px;
    border: 1px solid #000000;
}
#Tab tr:nth-child(even)
{
    background-color: gray;
}
#Tab tr:nth-child(odd)
{
    background-color: green;
}
form
{
	order: -1;
	background-color: #EEEEEE;
}
.TAF
{
	display: flex;
	flex-direction: column;
}

@media (min-width: 480px) 
{
	nav ul 
	{
		flex-direction: row;
		padding: 15px;
		justify-content: center;
	}
	nav ul li a 
	{
		font-size: 20px
	}
	#Ad 
	{
		font-size: 40px;
	}
	form
	{
		order: 0;
	}
	td, th 
	{
		font-size: 15px;
	}
}
@media (min-width: 800px)
{
	nav ul li a 
	{
		font-size: 20px
	}
	#Ad 
	{
		font-size: 45px;
	}
	td, th 
	{
		font-size: 20px;
	}
	#Links
	{
		font-size: 15px;
	}
	form 
	{
		font-size: 20px;
	}
}
